body {
    background-image: url(../src/assets/images/geometry.webp);
    background-size: cover; /* La imagen cubre todo el área visible */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al viewport */
    background-position: center; /* Centra la imagen */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.decorative {
  font-family: 'Lobster', cursive;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }